*.swp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/*
compile
config.*
configure
depcomp
fob.doxygen
fob/.deps/*
fob/Makefile
fob/Makefile.in
fob/config.h
fob/config.h.in
fob/stamp-h1
install-sh
libtool
ltmain.sh
missing
test/.deps/*
test/Makefile
test/Makefile.in
*/.libs/*
fob/*.lo
fob/*.o
fob/*.la
test/*.o
*.log
test/fly
test/fly2
api/*
